{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-12 brand-font text-center mt-5">
        <div class="row">
        <h2>Basket</h2>
        </div>
    </div>
    <div class="row">
        <div class="col my-auto">
            {% if basket_items %}
            <div>
                <h6 class="brand-font mb-3">
                    For collection at : {% if location %} {{ location }} {% else %} N/A {% endif %}
                </h6>
                <h4 class="brand-font">
                    Order Details
                </h4>
                <hr>
                <table class="table table-sm table-borderless w-100">
                    {% for items in basket_items%}
                    <tr class="basket_contents">
                        <td class="py-1">
                            <h5 class="my-3 brand-font">{{ items.quantity }}x {{items.product}}</h5>
                            {% if items.item_size %}
                            <p class="ms-3"> - {{ items.item_size }}</p>
                            {% endif %}
                        </td>     
                        <td>
                            <h6 class="text-end">£ {{items.item_total}}</h6>
                        </td>     
                        <td>
                            <a class="remove-item text-danger" id="remove_{{items.item_id}}" data-item_size="{{ items.item_size }}">
                                <p class="text-end brand-font"><i class="far fa-times-circle"></i></p>
                            </a>                            
                        </td>     
                    </tr>
                    {% endfor %}
                    <tr class="basket_total">
                        <td class="py-5">
                            <h4 class="brand-font me-5">
                            Total:
                            </h4>
                        </td>
                        <td class="py-5">
                            <h5 class="text-end">£ {{basket_total}}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'checkout' %}">
                                <h6 class="brand-font">Checkout</h6>
                            </a>
                        </td>                         
                    </tr>
                </table>                          
            {% else %}
            <h4 class="brand-font text-uppercase my-5"> Wait a minute - you've no espresso in your order!</h4>
            <a href="{% url 'products' %}" class="btn rounded-3">
                <span class="icon">
                    <i class="far fa-hand-point-left me-3"></i>
                </span>
                <span class="text-uppercase">Back to the drinks</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock%}

{% block postloadjs %}
{{ block.super }}


<script type="text/javascript">

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var item_size = $(this).data('item_size');
        var url = `/bag/remove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'item_size': item_size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}