{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="brand-font mb-4">Thanks for ordering with espressOrders</h2>
                <hr>
                <p class="text-black">Your order information is detailed. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
            <div class="col-12 col-lg-7">
                <div class="order-confirmation-wrapper p-2 border mx-auto">
                    <div class="row ">
                        <div class="col">
                            <h5 class="brand-font text-muted mb-2">Order Info:</h5>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Order Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.order_number }}</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12 col-md-4 ">
                            <p class="mb-0 text-black font-weight-bold">Order Date</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>
                    <hr class="w-25 mx-auto">

                    <div class="row">
                        <div class="col">
                            <h5 class="brand-font text-muted">Order Details:</h5>
                        </div>
                    </div>
                    
                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="small mb-0 text-black font-weight-bold">
                                {{ item.product.name }}
                            </p>
                            {% if item.item_size %}<p class="ms-2"> - {{ item.item_size }}</p>{% endif %}
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small mb-0">£ {{item.lineitem_total}}</p>
                            <p class="small ms-2">- {{ item.quantity }} @ £ {{ item.product.starting_price }} each</p>
                        </div>
                    </div>
                    {% endfor %}
                    <hr class="w-25 mx-auto">
                    
                    <div class="row">
                        <div class="col">
                            <h5 class="brand-font text-muted mb-2">Collection Info:</h5>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Collection Location:</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.collection_location }}</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">For collection by:</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Phone Number:</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12 col-md-4 mb-2">
                            <p class="mb-0 text-black font-weight-bold">Email Address:</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.email }}</p>
                        </div>
                    </div>
                    <hr class="w-25 mx-auto">
                    
                    <div class="row">
                        <div class="col">
                            <h5 class="brand-font text-muted mb-2">Billing Info:</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4 mb-2">
                            <p class="mb-0 text-black font-weight-bold">Order Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">£ {{ order.order_total }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">

            </div>
        </div>
        
    </div>
{% endblock %}