/* General Styling */

body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #151515;
    height: calc(100vh - 164px);    
}

.body-light {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #ffffff;
}

.brand-font {
    font-family: 'Poiret One', cursive;
    font-style: normal;
    font-weight: 200;
    color: #151515;
}

.brand-font-light {
    font-family: 'Poiret One', cursive;
    font-style: normal;
    font-weight: 200;
    color: #ffffff;
}

#subhead-banner {
    background-color: #7AA27F;
    outline: #2f3434 1px solid;
}

.nav{
    color: #2f3434;
}

#main-nav a{
    color: #2f3434;
    }

.footer-social{
    background-color: #2f3434;
}

.nav-link:focus, .nav-link:hover{
    color:#A75121;
}

.dark-button {
    background-color: #A75121;
    color: #ffffff;
    min-width: 100px;
}

.dark-button:hover{
    color: #2f3434;
}

.light-button {
    background-color: #7AA27F;
    color: #ffffff;
    min-width: 210px;
}

.light-button:hover{
    color: #2f3434;
}

.back-button{
    background-color: #2f3434;
    color: #ffffff;
}

.back-button:hover{
    color: #A75121;
}

/* Home Page */

.hero-img{
    max-height: 450px;
   
}

#hero-title{
    color: #444D5f;
}

.hero-section{    
    background-position: center;   
    background-size: cover;
}

.social-img{
    max-height: 75px;
    max-width: 75px;
}

.social-proof-section{
    background-color: #444D5f;
}

.product-decription{
    min-height: 50px;
}

.basket_total{
    border-top: 1px solid #151515;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 5px;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.card-img-top{
    max-width: 370px;
    max-height: 370px;
}
/* --------------------------------- Media queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }