/* General Styling */

html {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #151515;
    height: calc(100vh - 164px);
    background: url('media/matt-hoffman-YdEpiHpwhyM-unsplash.jpg') no-repeat center center fixed;
	background-size: cover;  
}

.brand-font {
    font-family: 'Poiret One', cursive;
    font-style: normal;
    font-weight: 200;
    color: #151515;
}

.dark-button {
    background-color: #151515;
    color: #ffffff;
}

.light-button {
    outline: #151515 1px solid;
}

/* Home Page */


/* --------------------------------- Media queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }