<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="list-inline-item d-lg-none">
            <a class="text-black nav-link d-block d-lg-none" href="{% url 'home' %}" id="home">
                <div>
                    <p class="my-0">Home</p>
                </div>
            </a>
        </li>
        <li class="list-inline-item d-lg-none">
            <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div>
                    <p class="my-0">Search</p>
                </div>
            </a>
            <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
                <form class="form" method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Search">
                        <div class="input-group-append">
                            <button class="form-control form-control btn btn-black border border-black rounded-0"
                                type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        <li class="list-inline-item dropdown d-lg-none">
            <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div>
                    <p class="my-0">My Account</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item"><i class="fas fa-wrench m-2"></i>Product
                    Management</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item"><i class="fas fa-id-card m-2"></i>My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item"><i
                        class="fas fa-sign-out-alt m-2"></i>Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item"><i
                        class="fas fa-user-plus m-2"></i>Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item"><i
                        class="fas fa-sign-in-alt m-2"></i>Login</a>
                {% endif %}
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                All Drinks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Drinks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="hot-drinks-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hot Drinks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hot-drinks-link">
                <a href="{% url 'products'%}?type=Coffee" class="dropdown-item">Coffee</a>
                <a href="{% url 'products'%}?type=Tea" class="dropdown-item">Tea</a>
                <a href="{% url 'products'%}?type=Speciality Coffee" class="dropdown-item">Speciality Coffee</a>
                <a href="{% url 'products'%}?category=Hot Drinks" class="dropdown-item">All Hot Drinks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cold-drinks-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cold Drinks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cold-drinks-link">
                <a href="{% url 'products'%}?type=Smoothies" class="dropdown-item">Smoothies</a>
                <a href="{% url 'products'%}?type=Shakes" class="dropdown-item">Shakes</a>
                <a href="{% url 'products'%}?type=Soft Drinks" class="dropdown-item">Soft Drinks</a>
                <a href="{% url 'products'%}?category=Cold Drinks" class="dropdown-item">All Cold Drinks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="iced-drinks-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Iced Drinks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="iced-drinks-link">
                <a href="{% url 'products'%}?type=Iced Coffee" class="dropdown-item">Iced Coffee</a>
                <a href="{% url 'products'%}?category=Iced Drinks" class="dropdown-item">All Iced Drinks</a>
            </div>
        </li>
    </ul>
</div>