{% load account %}
{% user_display user as user_display %}
{% load i18n %}
{% autoescape off %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}<h3>Hello {{name}}, its Andrew from {{ site_name }}!</h3>

<p> You're receiving this e-mail because {{ user_display }} has provided this e-mail address to connect their {{ site_name }} account.</p>

<p> To confirm this is correct, please copy and paste the following into your browser:</p>
<p>{{ activate_url }}</p>
{% endblocktrans %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}<h4>Thanks for registering from everyone at {{ site_name }}!</h4>
{% endblocktrans %}
{% endautoescape %}
