{% load i18n %}
{% autoescape off %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}<h3>Hello it's Andrew from {{ site_name }}!</h3>

<p>You're receiving this e-mail because you or someone else has requested a password for your user account.</p>
<p>It can be safely ignored if you did not request a password reset. Click the link below to reset your password.</p>

{% endblocktrans %}

<a>{{ password_reset_url }}</a>

{% if username %}
{% blocktrans %}
<h4> In case you forgot, your username is {{ username }}.</h4>
{% endblocktrans %}

{% endif %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}<h4>Thank you for using {{ site_name }}!</h4>
{% endblocktrans %}
{% endautoescape %}
