{% load i18n %}
{% autoescape off %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}<h3>Hello {{name}} it's Andrew from {{ site_name }}!</h3>

<p>You're receiving this e-mail because you or someone else has requested a password for your user account.</p>
<p>It can be safely ignored if you did not request a password reset. Copy and paste the link below, into your browser, to reset your password.</p>

{% endblocktrans %}

<p>{{ password_reset_url }}</p>

{% if username %}
{% blocktrans %}
<p> In case you forgot, your username is {{ username }}.</p>
{% endblocktrans %}

{% endif %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}<h4>Thank you for using {{ site_name }}!</h4>
<h5>Andrew</h5>
{% endblocktrans %}
{% endautoescape %}
