{% load qr_code %}
<h3>Hi {{ order.full_name }}, thanks for ordering with espressOrders.</h3>

<p> is an automated confirmation of your order. Your order and collection information is detailed below:</p>    

<p>Order Number: {{ order.order_number }}</p>
<p>Order Date: {{ order.date }}</p>
<p>Order Total: £ {{ order.order_total }}</p>

<h6>Your order will soon be available for collection from the {{ order.collection_location }}.</h6>
<p>Please present the following QR Code at order collection:</p>
{% qr_from_text order.order_number size="s" %}

<p>If we've any queries about your order we'll be in touch on your contact number ({{ order.phone_number }}).</p>

<p>If you have any questions, feel free to contact us at {{ contact_email }}.</p>

<h5>Thank you for your order!</h5>

<h6>Andrew B @ espressOrders</h6>