{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center text-uppercase brand-font mt-5">
            <h2>Drinks</h2>
        </div>
    </div>
    <div class="row">
        {% for type in types %}
        
        <div class="col-12 text-center text-uppercase brand-font my-3">
         <h3>{{ type.name }}</h3>   
        </div>
        <div class="col-10 offset-1">
            <div class="row">
            </div>
            <div class="row">
                {% for product in products %}
                {% if type == product.type %}                   
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                    <div class="card h-100">
                        {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img src="{{MEDIA_URL}}{{ product.image }}" class="card-img-top" alt="...">
                            </a>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img src="{{MEDIA_URL}}Asset 270.png" class="card-img-top w-25 mx-auto" alt="...">
                            </a>
                        {% endif %}
                            <div class="card-body">
                                <h4 class="brand-font text-uppercase">{{product.name }}</h4>
                                <p class="card-text product-decription pt-2">{{ product.brief_description }}</p>
                                <p class="card-text pt-2">From £{{ product.starting_price }}</p>
                            </div>
                        </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
   
    <div class="row">
    </div>
</div>
{% endblock%}

{% block page_footer %}
{% endblock %}